@model Modelo.Tabelas.Categoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de uma CATEGORIA";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Dados da CATEGORIA a ser removida
    </div>
    <div class="panel-body">
        @Html.Partial("~/Areas/Tabelas/Views/Categorias/_PartialDetailsContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Remover CATEGORIA" class="btn btn-danger" />
            @Html.ActionLink("Retornar para a listagem", "Index", null,
            new { @class = "btn btn-info" })
        }
    </div>
</div>