﻿@model Modelo.Cadastros.Fabricante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de um FABRICANTE";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes de um FABRICANTE
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Fabricantes/_PartialDetailsContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.FabricanteId },
        new { @class = "btn btn-info" })
        @Html.ActionLink("Retornar para a listagem", "Index", null,
        new { @class = "btn btn-info" })
    </div>
</div>

@Html.Partial("~/Views/Produtos/_PorFabricante.cshtml", Model.Produtos.ToList())